<% include layouts/header %>
<div class="row">
    <div class="thumbnail" style="margin-left: 40%;margin-right: 40%;">
      <img src="<%= user.picture ? "http://127.0.0.1:3000/uploads/" + user.picture : "http://127.0.0.1:3000/uploads/default_image.png" %>" style="max-height:200px;max-width:200px;">
      <center><%= user.username %></center>
      <center>
        <% if (matched) { %>
          <div id="match_user" class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-fire"></span> Unmatch user !</div><br>
        <% } else { %>
          <div id="match_user" class="btn btn-success navbar-btn"><span class="glyphicon glyphicon-fire"></span> Match user !</div><br>
        <% } %>
        Score: <%= user.score %>
      </center>
    </div>
    <center>
      <a onClick="load_visits_likes();" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Who visited this profile? (most recents)</a>
    </center>
    <center>
      <div class="row">
        <div class="collection well" id ="visits_list" style="padding-top:0"></div>
      </div>
    </center>
</div>
<form action="/account" method="post" class="center form-horizontal" role="form">

<div class="row">
  <div class="col-sm-5 col-md-6">
    <a class="list-group-item"><b>Identity:</b><br />
      <input type="text" class="form-control" id="firstname" name="firstname" value="<%= user.firstname %>" style="width:50%;display:inline;" disabled=true><input type="text" class="form-control" id="lastname" name="lastname" value="<%= user.lastname %>" style="width:50%;display:inline;" disabled=true>
    </a>
    <a class="list-group-item"><b>Age:</b><br />
      <input type="number" class="form-control" id="age" name="age" value="<%= user.age %>" disabled=true>
    </a>
    <a class="list-group-item"><b>Gender:</b><br />
      <input type="text" name="gender" class="form-control" id="gender" value="<%= user.gender %>" disabled=true>
    </a>
    <a class="list-group-item"><b>Tags:</b><br />
      <!-- <input type="text" name="gender" class="form-control" id="gender" value="<%= user.gender %>" disabled=true> -->
      -<%    var arrayLength = tags.length;
            for (var i = 0; i < arrayLength; i++) { %>
              <option id=<%= tags[i].id %> style="display: inline;padding: 0;"><%= tags[i].name %> -</option>
          <% } %>
    </a>
    <div class="list-group-item"><span class="glyphicon glyphicon-alert"></span> <b>Report this user:</b><br />
      <div id="report_modal">
        <select multiple  id="report_cause">
          <option selected name="FAKE">FAKE</option>
          <option name="HARASSMENT">HARASSMENT</option>
          <option name="INSULTS">INSULTS</option>
        </select>
        <input type="button" id="send_report" value="REPORT" class="btn btn-danger" style="float: right;">
      </div>
    </div>
  </div>
  <div class="col-sm-5 offset-sm-2 col-md-6 offset-md-0">
    <a class="list-group-item"><b>Bio:</b><br />
      <input type="text" class="form-control" id="bio" name="bio" value="<%= (user.bio) == undefined ? "" : user.bio %>" disabled=true>
    </a>
    <a class="list-group-item"><b>Location:</b><br />
      <input type="text" class="form-control" id="location" name="location" value="<%= (user.location) == undefined ? "48.896574,2.318558" : user.location %>" disabled=true>
    </a>
    <a class="list-group-item"><b>Orientation:</b><br />
      <input type="text" name="orientation" class="form-control" id="orientation" value="<%= user.orientation %>SEXUAL" disabled=true>
    </a>
    <a class="list-group-item"><b>Last Visit:</b><br />
      <!-- <input type="text" class="form-control" id="last_visit" name="last_visit" value="" disabled=true> -->
      <% if ((user.last_visit == undefined) || (user.last_visit == "Invalid date")) { %>
        <p style="color:red;">Never</p>
      <% } else if (no_moment == "Sun Jan 01 2017 16:35:39 GMT+0100 (CET)") { %>
        <p style="color:green;">ONLINE</p>
      <% } else { %>
        <p style="color:green;"><%= user.last_visit %></p>
      <% } %>
    </a>
    <a class="list-group-item"><b>Register Date:</b><br />
      <input type="text" class="form-control" id="register_date" name="register_date" value="<%= user.register_date %>" disabled=true>
    </a>
    <div class="list-group-item"><b>Block this user:</b><br />
      <% if (blocked) { %>
        <a id="block_user" class="btn btn-danger"><span class="glyphicon glyphicon-unlock"></span> Unblock</a>
      <% } else { %>
        <a id="block_user" class="btn btn-danger"><span class="glyphicon glyphicon-lock"></span> Block</a>
      <% } %>
    </div>
  </div>
</div>

<div id="map_hidden" style="display:none;">
<div id="map"></div>
</div>
<script type="text/javascript">
function initMap() {
  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: {lat: 40.731, lng: -73.997}
  });
  var geocoder = new google.maps.Geocoder;
  var infowindow = new google.maps.InfoWindow;

    geocodeLatLng(geocoder, map, infowindow);
}

function geocodeLatLng(geocoder, map, infowindow) {
  var input = document.getElementById('location').value;
  var latlngStr = input.split(',', 2);
  var latlng = {lat: parseFloat(latlngStr[0]), lng: parseFloat(latlngStr[1])};
  geocoder.geocode({'location': latlng}, function(results, status) {
    if (status === 'OK') {
      if (results[1]) {
        map.setZoom(11);
        var marker = new google.maps.Marker({
          position: latlng,
          map: map
        });
        infowindow.setContent(results[1].formatted_address);
        infowindow.open(map, marker);
        console.log(results[1].formatted_address);
        $('#location').val(results[1].formatted_address);
      } else {
        window.alert('No results found');
      }
    } else {
      window.alert('Geocoder failed due to: ' + status);
    }
  });
}
</script>

    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAZnG-HR7kcUGqWbAS3EVNVlfNJyLcmErQ&callback=initMap">
    </script>


<% include layouts/chat %><br />
<% include layouts/footer %><br />